@charset "UTF-8";

/* 메인 콘텐츠 */
#main_content {
    background: #d8d8d8;
}

#main_content > div {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px 0;
}

#main_content > #main_container > section {
    float: left;
    width: 730px;
}

#main_content > #main_container > section > article {
    width: 90%;
}

#main_content > #main_container > section > #weather_map {
    height: 400px;
    margin-bottom: 20px;
    background: white;
}

#main_content > #main_container > section > #weather_map > #map {
    width: 90%;
    height: 360px;
    /* 카카오맵 때문에 지도 index 반드시 지정해줘야함 */
    z-index: 0 !important; 
    margin: 0 auto;
}

#main_content > #main_container > section > #weather_location {
    height: 400px;
    margin-bottom: 20px;
    background: #d8d8d8;
}

#main_content > #main_container > section > #weather_location a {
    display: inline-block;
    height: 51px;
    width: calc(50% - 8px);
    background: white;
    margin: 2px;
    line-height: 51px;
}

#main_content > #main_container > section > #weather_location a span {
    display: inline-block;
    font-size: 18px;
}

#main_content > #main_container > section > #weather_location a span:nth-child(1) {
    width: 60%;
}
#main_content > #main_container > section > #weather_location a span:nth-child(2) {
    width: 20%;
}
#main_content > #main_container > section > #weather_location a span:nth-child(3) {
    width: 15%;
}

#main_content > #main_container > section > #weather_location a img {
    width: 30px;
    height: 30px;
}






























































































































#main_content > #main_container > section > #weather_add {
    height: 50px;
    margin-bottom: 20px;
    background: white;
}

#main_content > #main_container > aside {
    float: right;
    width: 210px;
}

@media screen and (max-width: 767px) {
    #main_content > div {
        width: 100%;
    }

    #main_content > #main_container > section {
        width: 100%;
    }

    #main_content > #main_container > section > article {
        width: 100%;
    }
    #main_content > #main_container > section > #weather_location a {
        width: 100%;
    }
    
    #main_content > #main_container > aside {
        /* none을 주면 모바일화면에서 아래로 내려감 */
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #main_content > div {
        width: 100%;
    }
    
    #main_content > #main_container > section {
        width: calc(100% - 210px);
    }
}

@media screen and (min-width: 1024px) {}